.user-info-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 0;
  width: 100%;
  .user-info-entry-lable {
    // padding-right: 5%;
  }

  .user-info-entry-field {
    padding-left: 5%;
    .p-inputtext {
      height: 2rem;
      font-size: 0.95rem;
    }
  }
}
