.orders-page-main-window {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

  .orders-data-table {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .orders-data-table-manipulation-panel {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: {
      top: 1%;
      bottom: 1%;
      left: 2.5%;
      right: 2.5%;
    }

    .manipulation-panel-button {
      margin-left: 0.3rem;
      margin-right: 0.3rem;
      .pi {
        color: black;
        font-weight: bold;
      }
      background: #fdd75e;
      border: #fdd75e;
    }
  }
}
